body{
    margin:0;
}
.navbar {
    background-color:#3c3d3c;
    height:45px;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.nav_element{
    display: flex;
    justify-content: center;
    align-items:center;
    font-family:fantasy;
}
