.observables
{
  background-color: #f1f1f1;
  border: medium solid #333;
  width:45%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.proprietes
{
  background-color: #f1f1f1;
  border: medium solid #333;
  width:45%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.lois
{
  background-color: #f1f1f1;
  border: medium solid #333;
  width:50%;
  margin-top: 10px;
  margin-bottom: 10px;
}

ul
{
  list-style-type: none;
}

.page
{
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: justify;
}

h4
{
  display:flex;
  justify-content: center;
}

@media screen (max-width: 600px){
  .observables{width:90%}
  .proprietes{width:90%}
  .lois{width:90%}
  .page{flex-direction: column;}
  .video{width:90%}
}

.video{
  background-color:black;
  width: 45%;
  border: medium solid #333;
  margin-top: 10px;
  margin-bottom: 10px;
}
